{{!< default}}

{{#contentFor 'title'}}{{t 'Blog' }}{{/contentFor}}

<div class='o-grid'>
  <div class='o-grid__col o-grid__col--4-4-s'>
    <div class='c-archive'>
      <h1 class='c-archive__title'>Blog</h1>
    </div>
  </div>
</div>

<div class='o-grid'>
  <div class='o-grid__col o-grid__col--4-4-s'>
    <div class="c-post-grid">
      {{> loop }}
    </div>
  </div>
</div>

<div class='o-grid'>
  {{ pagination }}
</div>