{{!< default}} {{#contentFor 'body_custom_class' }} shop-template{{/contentFor}} <div class="y-product-content__wrap">
    {{#product}}
    <div class="y-product-content {{payment.type}} paid-{{payment_status.is_paid}}">
        {{/product}}
        <div class="y-product-content__main">
            {{bluedot_product}}
        </div>
        
    </div>
    </div>