/*------------------------------------*\
  Objects > Wrapper
\*------------------------------------*/

/**
 * Sticky footer
 */
.c-site-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: var(--body-background);
  .o-wrapper { flex: 1 0 auto; }
}

body:not(.home-template) main.o-wrapper {
  padding-bottom: 60px;
}