/*------------------------------------*\
  Components > Pagination
\*------------------------------------*/

.c-pagination {
  margin-top: $space-32;
  margin-bottom: $space-32;
}

.c-pagination-btn {
  display: block;
  border: 1px solid rgba(0, 0, 0, 1);
  font-family: noto-sans-cjk-kr, san-serif;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0px;
  margin: 0 auto;
}